@using System;
@using System.Collections.Generic;
@using System.Linq;
@using SilverDawn.SilverModel.UML.Extensions;
@using SilverDawn.SilverModel.UML.Interfaces.Classes;
@using SilverDawn.SilverModel.UML.Classes;


@@model @{@Model.Diagram.Name}.@{@Model.Classifier.Name}

@@{
    ViewBag.Title = "@{@Model.Classifier.Name}";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@{@Model.Classifier.Name}</h4>
    <hr />
    <dl class="dl-horizontal">
    @foreach (var att in Model.Classifier.Attributes())
    	{
        <dt>
            @@Html.DisplayNameFor(model => model.@att.Name)
        </dt>
}
       
    </dl>

    @@using (Html.BeginForm()) {
        @@Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @@Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
