@using SilvaDawn.SilvaModel.UML.Extensions;
@using SilvaDawn.SilvaModel.UML.Interfaces.Classes;
@using SilvaDawn.SilvaModel.UML.Classes;
<!-- ALLOWOVERWRITE -->

<div class="box angularItemEdit angularSiteIndex">
    <div class="box-header">
        <h2><i class="fa fa-edit"></i>@(Model.Classifier.Name) List</h2>
        <div class="box-icon">
            <a href="/" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="box-content">

        <table class="table table-striped" id="SearchResults">
            <thead>
                <tr>
                    <th>@GetDescriptor(Model.Classifier)</th>
                    <th>Edit</th>                   
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="item in @(Model.Classifier.Name.LowerFirst())Views">
                	@if (!string.IsNullOrEmpty(GetDescriptor(Model.Classifier))){
                  <text>  <td>{{item.@(GetDescriptor(Model.Classifier).LowerFirst())}}</td> </text>
                   }
                    <td>
                        <!-- <a class="btn" href="#" id="ItemQuickSaveButton"><i class="icon-ok"></i></a>-->
                        <a class="btn" href="#/Admin/@Model.Classifier.Name/Edit/{{item.@(GetPrimaryKey(Model.Classifier).LowerFirst())}}"><i class="glyphicon glyphicon-pencil"></i></a>
                        <!-- <a class="btn" ng-click="deleteItem(item)" ><i class="icon-trash"></i></a>-->
                    </td>
                    
                </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="#/Admin/@Model.Classifier.Name/Add">Add</a>
    </div>
</div>

@functions{

string GetPrimaryKey(IClassifier iClass)
{
	foreach (var att2 in iClass.Properties())
   	{
		if (att2["Entity Framework","EF Primary Key"]=="True")
		 return att2.Name;
	}
	
	return "";
}

string GetDescriptor(IClassifier iClass)
{
	foreach (var att2 in iClass.Properties())
   	{
		if (att2["Entity Framework","Default Descriptor"]=="True")
		 return att2.Name;
	}
	
	return "";
}

}