@@model IEnumerable<@{@Model.Diagram.Name}.@{@Model.Classifier.Name}>

@@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    @{
		bool skippedfirst=false;
		foreach (var att in Model.Classifier.Attributes())
    	{
    	
    		if (skippedfirst)
    		{
    	<th>@@Html.DisplayNameFor(model => model.@att.Name)</th>
    		}
    		skippedfirst=true;
    	}
    }        
        <th></th>
    </tr>

@@foreach (var item in Model) {
    <tr>
     @{
		 skippedfirst=false;
		foreach (var att in Model.Classifier.Attributes())
    	{
    		if (skippedfirst)
    		{
    		<th>@@Html.DisplayFor(model => model.@att.Name)</th>      
    		}
    		skippedfirst=true;
    	}
    } 
        <td>
            @@Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
            @@Html.ActionLink("Details", "Details", new { id=item.CompanyId }) |
            @@Html.ActionLink("Delete", "Delete", new { id=item.CompanyId })
        </td>
    </tr>
}

</table>
