@using SilvaDawn.SilvaModel.UML.Extensions;
@using SilvaDawn.SilvaModel.UML.Interfaces.Classes;
@using SilvaDawn.SilvaModel.UML.Classes;


@@model @{@Model.Diagram.Name}.@{@Model.Classifier.Name}

@@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@@using (Html.BeginForm()) 
{
    @@Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@{@Model.Classifier.Name}</h4>
        <hr />
        @@Html.ValidationSummary(true, "", new { @@class = "text-danger" })
        
        @foreach (var att in Model.Classifier.Attributes())
    	{ 
    	 <div class="form-group">
            @@Html.LabelFor(model => model.@att.Name, htmlAttributes: new { @@class = "control-label col-md-2" })
            <div class="col-md-10">
                @@Html.EditorFor(model => model.@att.Name, new { htmlAttributes = new { @@class = "form-control" } })
                @@Html.ValidationMessageFor(model => model.@att.Name, "", new { @@class = "text-danger" })
            </div>
        </div>
    	}
}

<div>
    @@Html.ActionLink("Back to List", "Index")
</div>

@@section Scripts {
    @@Scripts.Render("~/bundles/jqueryval")
}
